@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
body {
  color: #333;
  font-family: 'Nunito';
  margin-top: 2rem;
  margin-left: 8rem;
  margin-right: 8rem;
}
p {
  text-align: justify;
}
.text {
  text-align: center;
}
.container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-flow: column;
  column-gap: 1rem;
  flex-wrap: wrap;
}

.p-logo {
  width: 90px;
  height: 60px;
}
.name {
  font-size: 26px;
  font-weight: bold;
}
.btn {
  border-radius: 50px;
  border: 0;
  background: #0a0a0a;
  color: #fefefe;
  padding: 10px 10px;
  font-size: 14px;
  letter-spacing: 1.4px;
  height: 40px;
  outline: 0;
}
.btn:hover {
  background-color: #333;
}

.social-media-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  margin-left: 1rem;
}

.container-div {
  background-color: rgb(242, 242, 242);
  border-radius: 8px;
  padding: 1rem;
}

.date {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.4);
  font-size: 12px;
}
.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tools {
  display: flex;
  flex-wrap: wrap;
}
.tools > p {
  background-color: rgba(99, 99, 99, 0.1);
  border: none;
  padding: 10px 10px;
  text-decoration: none;
  margin: 1px 2px;
  cursor: pointer;
  border-radius: 32px;
  font-size: 10px;
  font-weight: bold;
}

footer {
  text-align: center;
}
.orgnization-roll {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 0.1;
  margin-bottom: 0px;
}
.orgnization-roll > p {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
}
.orgnization-roll > label {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  body {
    color: #333;
    font-family: 'Nunito';
    margin-top: 0rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .head-container {
    width: inherit;
  }
  .orgnization-roll {
    flex-wrap: wrap;
  }
  .social-media-container {
    margin-top: 1rem;
  }
  footer {
    margin-top: 1rem;
    font-size: 8px;
    width: 50%;
    text-align: center;
  }
}

.email-a {
  border-radius: 50px;
  border: 0;
  background: #0a0a0a;
  color: #fefefe;
  padding: 10px 10px;
  font-size: 14px;
  outline: 0;
  text-decoration: none;
}
.email-a:hover {
  background-color: #333;
}